{% load static %}
<main>   
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <img class="bd-placeholder-img" width="100%" height="100%" src="{% static 'onlinebooks/img/coverform1.jpg' %}">

            <div class="container">
              <div class="carousel-caption text-start">
                <h1>Python is Interactive</h1>
                <p>You can actually sit at a Python prompt and interact with the interpreter directly to write your programs.</p>
                <p><a class="btn btn-lg btn-primary" href="https://www.python.org/" target="_blank">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <img class="bd-placeholder-img" width="100%" height="100%" src="{% static 'onlinebooks/img/coverform1.jpg' %}">

            <div class="container">
              <div class="carousel-caption">
                <h1>Python is a Beginner's Language</h1>
                <p>Python is a great language for the beginner-level programmers and supports the development of a wide range of applications from simple text processing to WWW browsers to games.</p>
                <p><a class="btn btn-lg btn-primary" href="https://www.python.org/" target="_blank">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
             <img class="bd-placeholder-img" width="100%" height="100%" src="{% static 'onlinebooks/img/coverform1.jpg' %}">

            <div class="container">
              <div class="carousel-caption text-end">
                <h1>Python is Object-Oriented</h1>
                <p>Python supports Object-Oriented style or technique of programming that encapsulates code within objects.</p>
                <p><a class="btn btn-lg btn-primary" href="https://www.python.org/" target="_blank">Learn more</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</main>