{% extends 'base.html' %}
{% block content %}

<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6">
            <div class="card-heading">
                <h2 class="title text-primary text-center">Apply for job</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% for book in form %}
                        <div class="name">{{ book.name }}</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="title">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        <button class="btn btn--radius-2 text-center btn-primary" type="submit">Send Application</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


{% endblock %}

<!-- 

<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6">
            <div class="card-heading">
                <h2 class="title text-primary text-center">Apply for job</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="name">Title:</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="title">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Author:</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="author">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Description:</div>
                        <div class="value">
                            <div class="input-group">
                                <textarea class="textarea--style-6" name="description" placeholder="Message about the book."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="name">Cateogry:</div>
                      <div class="value">
                        <select class="form-select" name="multselect" multiple aria-label="multiple select example" required>
                          <option selected>Open this select menu</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                      </select>
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Upload Image</div>
                        <div class="value">
                            <div class="input-group js-input-file">
                                <input class="form-control" name="image" type="file" id="formFile" accept="image/*" required>
                            </div>
                            <div class="label--desc">Upload your image file. Max file size 10 MB</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Book Link:</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="book_link">
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn--radius-2 text-center btn-primary" type="submit">Send Application</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 -->